
/* begin utility classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flexed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.mb {
  margin-bottom: .5rem;
}

.p {
  padding: 1em;
}
/* end utility classes */

body {
  background-color: aqua;
}

/* begin header classes */
header {
}
/* end header classes */

.hero {
}

.hero-image {
  flex: 2;
}

.hero-image img {
  width: 100%;
}

.hero-copy {
  flex: 3;
}

.byline {
  justify-content: flex-start;
}

.avatar {
  width: 50px;
}

.features {
}

.feature {
  flex: 1;
}

.feature-image {
  width: 100%;
}

footer {
}