@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
}

.flexed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.container {
  width: 800px;
  margin: 0 auto;
}

header {
  background-color: #a0c5f8;
  padding: .5rem 1rem;
}

ul {
  list-style: none;
}

main {
  padding: .5rem 1rem;
}

.day {
  flex: 1;
  background-color: lightgray;
  min-height: 200px;
}

.day img {
  width: 100%;
}